:root {
  --color-dark: #333;
  --color-snow: #FFFFFF;
  --color-smoke: #e4e4e4;
  --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #222;
  stroke: #222;
  background-color: white;
  transition: all 250ms linear;
}

.header {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.header:hover {
  color: #333;
}

@media(min-width: 550px) {
    .header-wrapper {
        display: flex;
    }

    .header-nav {
        text-align: right;
        width: 100%;
    }
}


nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  padding-right: 0.5rem;
}

a {
  color: #555;
  transition: all 150ms linear;
}

a:hover {
  color: #888;
}

.dark a {
  color: #888;
  transition: all 150ms linear;
}

.dark a:hover {
  color: #555;
}

.dark {
  color: #ccc;
  background-color: #222;
  stroke: #ccc;
}


h1, h2, h3 {
  padding: 0;
  margin: 0.5rem 0;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  max-width: 55em;
  position: relative;
  overflow: hidden;
}

.main {
  padding: 2rem;
  flex-grow : 1;
  max-width: 45em;
}


input {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  margin-right: 0.25rem;
  border-radius: 2px;
}

.dark input {
  background-color: #444;
  color: #eee;
  border-color: #777;
}

.current-user {
  font-weight: bold;
}

.dark .current-user {
  font-weight: bold;
  color: #eee;
}

.user-list {
  padding: 0;
}

.user {
  display: flex;
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
}

.user-name {
  width: 75%;
}

.user-vote {
  width: 25%;
  text-align: right;
}

input {
}

button {
  display: inline-block;
  overflow: hidden;
  border: 0px solid;
  margin: 0.25em 0;
  margin-right: 0.25rem;
  font-size: 0.75em;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  color: #202129;
  background-color: #ececec;
  border: 0px solid;
  cursor: pointer;
}

button:hover {
  transition: all 150ms linear;
  opacity: .85;
  color: #202129;
  background-color: #999;
}

button:active {
  transition: all 150ms linear;
  opacity: .75;
}

button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

button:active {
  background-color: #d5d6d6;
  opacity: 1;
}

.dark button {
  color: var(--color-snow);
  background: var(--color-dark);
}

.dark button:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}


.dark button:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}

.dark button:active {
  background-color: #d5d6d6;
  opacity: 1;
}

.toggle-button {
  margin: 0 0.5em;
  cursor: pointer;
  padding: 1rem;
  position: absolute;
  border-radius: 50%;
  right: -1rem;
  top: -0.5rem;
  transition: all 150ms linear;
  background-color: #eee;
}

@media(max-width: 1023px) {
  .waffle {
    position: absolute;
    right: 5.5rem;
  }
}

@media(min-width: 1024px) {
  .toggle-button {
    right: 1rem;
    top: 1rem;
  }

  .waffle {
    position: absolute;
    right: 10.5rem;
  }
}

.toggle-button:hover {
  background-color: #666;
}

.dark .toggle-button {
  background-color: #444;
}

.dark .toggle-button:hover {
  background-color: #999;
}

.room-control {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}


.dark .room-control {
  border-bottom: 1px solid #444;
}

.vote-control {
  padding: 0.5rem 0;
}
.subheader {
  color: #999;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.footer {
  font-size: 0.5rem;
  color: #999;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid #ccc;

}

.dark .footer {
  border-top: 1px solid #444;
}  

.footer a {
  color: #777;
  text-decoration: none;
}

.icon {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.dark .icon {
  fill: #ccc;
}

.copy-cover {
  display: block;
  opacity: 0.9;
  background-color: #ccffcc;
  color: green;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  transition: all 3s ease-in-out;
  display: none;
}

.fade {
  opacity: 0;
}

.copy-text-field, .dark .copy-text-field {
  border: 0 none;
  display: inline-block;
  background-color: transparent;
  padding: 0.5rem 1rem;
  width: 18em;
  margin: 0;
  border: 0 none;
}

.copy-input-wrap {
  display: inline-block;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  with: auto;
  border: 1px solid #ccc;
}

.dark .copy-input-wrap{
  border-color: #555;
}

.button-icon {
  background-color: #eee;
  vertical-align: middle;
  padding: 0.5rem;
  margin: 0rem;
  border-left: 0px none;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.dark .button-icon{
  border-color: #555;
  background-color: #444;
}

.header-wrapper {
  display: block;
}

.header-wrapper .heading {
  width: 100%;
}

@media(min-width: 45em) {
  .header-wrapper {
    display: flex;
  }

  .header-wrapper .heading {
    width: 50%;
  }

  .copy-button-wrapper {
    text-align: right;
    width: 50%;
  }

  .copy-cover {
    width: 15.15em;
  }
}

.copy-button-wrapper {
  position: relative;
}

.button-icon svg {
  height: 1rem;
  width: 1rem;
}


.dark .button-icon svg {
  fill: #ccc;
}

.header-icon {
  display: inline;
  width: 3rem;
  margin: 0 1rem;
  border-radius: 50%;
  padding: 0em;
}

.dark .header-icon {
  display: none;
}

.dark-header-icon {
  display: none;
}

.dark .dark-header-icon {
  display: inline;
}

.crown {
  position: absolute;
  left: 0.75rem;
}